.icon-arrow {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu {
  width: 2em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-nav {
  width: 0.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
