//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit

$font-medium: "Lato-Medium", sans-serif;
$font-regular: "Lato-Regular", sans-serif;
$font-bold: "Lato-Bold", sans-serif;
$font-black: "Lato-Black", sans-serif;

$text-color: '#151515';
$text-accent: '#3d6bc7';

//colors from hovermap


//colors for project


//other variables