// home page styles

body {
  opacity: 0;
  transition: .3s ease;
  overflow-y: hidden;
  &.load {
    opacity: 1;
  }
  .mainAnimationOver {
    overflow-y: auto;
  }
}

.page-navigate {
  position: fixed;
  left: 0;
  top: 10vh;
  bottom: 0;
  width: 100px;
  height: 80vh;
  z-index: 2;
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.screen {
  overflow: hidden;
  &__text {
    text-align: center;
    position: relative;
    width: 100%;
    h1 {
      color: #0a3e51;
      text-transform: none;
      max-width: 430px;
      margin: 0 auto;
      position: relative;
    }
    p {
      color: $text-accent;
      font-family: $font-black;
      margin-top: 50px;
      position: relative;
      font-size: 14px;
      margin-bottom: 0;
    }
    li {
      position: relative;
      &.active {
        a {
          width: 7px;
          height: 7px;
        }
      }
      a {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        display: inline-block;
        background-color: $text-accent;
      }
    }
  }

  &__imgs {
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    min-width: 1500px;
    transform: translateX(-50%);

    svg {
      margin-bottom: -8px;
      overflow: visible;
      position: relative;
    }
  }

  .scr_b_small {
    left: 38%;
    bottom: 337px;
  }

  .scr_b_big {
    left: 34%;
    bottom: 357px;
  }
}

.decor {
  position: absolute;
}

#smartDot {
  background-color: $text-accent;
  border-radius: 50%;
  display: inline-block;
  width: 7px;
  height: 7px;
  position: fixed;
  z-index: 200;
}

.left-block {
  width: 400px;
  margin-left: 10%;
  z-index: 1;
}
.text-block {
  &>* {
    position: relative;
  }
  h2 {
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 10px;
  }
}

.fp-section {
 overflow: hidden;
}

#scrollDown {
  a{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    background-image: linear-gradient( -17deg, rgb(56,178,218) 0%, rgb(59,143,209) 32%, rgb(61,107,199) 77%);
  }

  svg {
    path{
      fill: #fff;
    }
    width: 15px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateZ(180deg);
  }

  &.active {
    display: block;
    a {
      opacity: 1;
      z-index: 102;
      transform: scale(1);
    }
  }
}

.screen-second {
  background-image: url("../img/screen2_bg.png");
  background-repeat: no-repeat;
  background-position: -140% 60%;
  background-size: 120%;
}

.cities-tab {
  display: none;
  &.active {
    display: block;
  }

  &__canada {
    .canada_bg {
      position: absolute;
      left: 0;
      bottom: 114px;
      width: 1030px;
    }
    .canada_ground {
      bottom: 103px;
      left: 14px;
      width: 1000px;
    }
    .canada_forest {
      bottom: 114px;
      left: 14px;
      width: 1000px;
    }
    .canada_clouds {
      bottom: 330px;
      left: 255px;
      width: 500px;
    }
  }
  &__america {
    .america_bg {
      position: absolute;
      left: 0;
      bottom: 114px;
      width: 1030px;
    }
    .america_clouds_sun {
      bottom: 330px;
      left: 255px;
      width: 500px;
    }
    .america_ground {
      bottom: 115px;
      left: 21px;
      width: 1000px;
    }
    .america_buildings {
      bottom: 115px;
      left: 220px;
      width: 1000px;
    }
  }
  &__mexica {
    .mexica_bg {
      position: absolute;
      left: 0;
      bottom: 114px;
      width: 1030px;
    }
    .mexica_clouds {
      bottom: 330px;
      left: 255px;
      width: 500px;
    }
    .mexica_ground {
      bottom: 115px;
      left: 21px;
      width: 1000px;
    }
    .mexica_buildings {
      bottom: 115px;
      left: 60px;
      width: 900px;
    }

  }
}

.decor.decor_truck {
  bottom: 120px;
  width: 23%;
  left: 37%;
}

.right-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-width: 60%;
}

.section {
  height: 100vh;
  overflow: hidden;
}

.tabs-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    height: 77px;
  }
  .active {
    a {
      color: #383737;
    }
  }

  a{
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-bold;
    color: #9b9b9b;
  }
}

.tabs-label{
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient( 135deg, rgb(251,184,107) 0%, rgb(249,172,84) 32%, rgb(247,160,61) 77%);
  background-image: -o-linear-gradient( 135deg, rgb(251,184,107) 0%, rgb(249,172,84) 32%, rgb(247,160,61) 77%);
  background-image: linear-gradient( -45deg, rgb(251,184,107) 0%, rgb(249,172,84) 32%, rgb(247,160,61) 77%);
  box-shadow: 0px 6px 10px 0px rgba(215, 128, 26, 0.35);
  position: absolute;
  left: 0;
  bottom: -20px;
  transition: .3s ease-in-out;
}

.decor_tabs_wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-mob {
  display: none;
}
.footer-left .col-left {
  .btn {
    display: none;
  }
}