mixin header()

    header(class="header header-fix")
        .container.header-container
            .header-left
                .logo
                    a(href="/")
                        include ../../img/logo.svg
                .mob-menu-trigger
                    a(href="#")
                        +svg('menu')

                nav.header-nav
                    .mob-close-menu
                        a(href="#" class="close")

                    ul.list-inline.header-mob-navigate
                        li
                            a(href="#") About us
                        li
                            a(href="#") Services
                        li
                            a(href="#") Join us
                        li
                            a(href="#") Contacts
                        li
                            a.header-auth(href="#") Sign in

                    ul.list-inline.header-mob-social
                        li
                            a(href="#")
                                +svg('linkedin')
                        li
                            a(href="#")
                                +svg('facebook')
                        li
                            a(href="#")
                                +svg('twitter')

            .header-right
                .header-tel
                    a(href="tel:6178889692") (617) 888-9692
                .header-request
                    a(href="#" class="btn btn--md btn--main", data-target="modal" data-modal="#modal-form")  Request a quote