mixin header()
    header(class="header header-fix")
        .container.header-container
            .header-left
                .logo
                    a(href="/")
                        include ../../img/logo.svg
                nav.header-nav
                    ul.list-inline
                        li
                            a(href="#") About us
                        li
                            a(href="#") Services
                        li
                            a(href="#") Join us
                        li
                            a(href="#") Contacts
                        li
                            a.header-auth(href="#") Sign in

            .header-right
                .header-tel
                    a(href="tel:6178889692") (617) 888-9692
                .header-request
                    a(href="#" class="btn btn--md btn--main")  Request a quote