extends ../extend/default

block variables
    - var title = 'Home page';

block main
    main.content(data-page='home')
        section.fs-section
            .screen-first
                .screen-first__text
                    h1 Leave the logistics to us
                    p Scroll to explore
                    ul
                        li.dot-first.active
                            a(href="#")
                        li.dot-second
                            a(href="#")

                .screen-first__imgs
                    .decor-1
                        img(src='../img/')

        section.fs-section


