extends ../extend/default

block variables
    - var title = 'Home page';

block main
    main.content(data-page='home')
        #fullpage
            section#fp-1.fs-section
                .screen-first.full-container
                    .screen-first__imgs
                        .decor.decor-1
                            img(src="static/img/main_cloud_sun.png")
                        .decor.decor-2
                            img(src="static/img/main_clouds.png")
                        .decor.decor-3
                            img(src="static/img/main_bird_small.png")
                        .decor.decor-4
                            img(src="static/img/main_bird_big.png")
                        .decor.decor-5
                            img(src="static/img/main_mountain_right.png")
                        .decor.decor-6
                            img(src="static/img/main_mountains_left.png")
                        .decor.decor-7
                            img(src="static/img/main_1part.png")
                        .decor.decor-8
                            img(src="static/img/truck_all_sscreen.png")

                        .screen-first__text
                            h1 Leave the logistics to us
                            p Scroll to explore
                            ul
                                li.dot-first.active
                                    a(href="#")
                                li.dot-second
                                    a(href="#")

            section#fp-2.fs-section



