extends ../extend/default

block variables
    - var title = 'Home page';

block main
    main.content(data-page='home')
        #fullpage
            section#fp-1.fs-section
                .screen-first.full-container

                    .screen-first__imgs
                        include ../../img/image1.svg
                        //.decor.scr_sun
                        //    img(src="static/img/main_cloud_sun.png")
                        //.decor.scr_cloud
                        //    img(src="static/img/main_clouds.png")
                        .decor.scr_b_small
                            img(src="static/img/main_bird_small.png")
                        .decor.scr_b_big
                            img(src="static/img/main_bird_big.png")
                        //.decor.scr_m_right
                        //    img(src="static/img/main_mountain_right.png")
                        //.decor.scr_m_left
                        //    img(src="static/img/main_mountains_left.png")
                        //.decor.scr_ground
                        //    img(src="static/img/main_1part.png")
                        //.decor.scr_truck
                        //    img(src="static/img/truck_all_sscreen.png")
                    .screen-first__text
                        h1 Leave the logistics to us
                        p Scroll to explore
                        ul
                            li.dot-first.active
                                a(href="#")
                            li.dot-second
                                a(href="#")



            section#fp-2.fs-section
                p text



